

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    
}

.container {
    padding: 40px 180px;
}

.clearfix {zoom: 1}
.clearfix:after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ------------------------------------------- */

.row{
    max-width: 1140px;
    margin: 0 auto;
} 

section{
    padding: 80px 0;
}

.box{
    padding: 1%;
}

/* PARAGRAPHS */

.long-copy{
    line-height: 145%;
    margin-left: 20%;
    width: 85%;
}

.box p{
    font-size: 90%;
    line-height: 145%;
}

/* HEADINGS */

h1,
h2,
h3{
    font-weight: 300;
}

h1{
    margin-top: 0;
    margin-bottom: 5px;
    color: #fff;
    font-size: 400%;
    font-weight: 400;
    word-spacing: 4px;
    letter-spacing: 1px;
    text-align: center;    
}

h2{
    color: #192a56;
    font-size: 280%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3{
    color: #192a56;
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after{
    display: block;
    height: 1px;
    background-color: #d4d4d4;
    content: " ";
    width: 800px;
    margin: 0 auto;
    margin-top: 30px;
}

/* ICONS */

.icon-big{
    font-size: 350%;
    display: block;
    color: #192a56;
    margin-bottom: 10px;
}

.icon-medium{
    font-size: 250%;
    display: block;
    color: #192a56;
    margin-bottom: 10px;
    line-height: 120%;
    margin-top: 10px;
    margin-left: 10px;
}

.icon-small{
    display: inline-block;
    width: 30px;
    text-align: center;
    font-size: 120%;
    color: #192a56;
    margin-right: 10px;

    /*Secret for align icon and text */
    line-height: 120%;
    vertical-align: middle;
    margin-top: -4px;
}


/* ------------------------------------------- */
/* HEADER */
/* ------------------------------------------- */

header{
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/header-photo.jfif);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-text-box h2{
    margin-top: 0px;
    color: #fff;
    font-size: 200%;
    word-spacing: 4px;
    letter-spacing: 1px;
    text-align: center;
}

.hero-text-box h2:after{
    display: block;
    height: 0px;
    background-color: #fff;
    content: " ";
    width: 550px;
    margin: 0 auto;
    margin-top: 10px;
}

.hero-text-box h1:after{
    display: block;
    height: 1px;
    background-color: #fff;
    content: " ";
    width: 550px;
    margin: 0 auto;
    margin-top: 10px;
}

.hero-text-box span{
    font-size: 80%;
    font-weight: 200;
    font-size: 50%;
}



.main-nav{
    float: right;
    list-style: none;
    margin-top: 40px
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.25;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #3255ad;
}


.btn-nav{
    color: #fff;
    position: absolute;
    top: 90%;
    left: 87%;
    background-color: #292929 ;
    font-size: 260%;
    padding: 0 35px;
}

.sticky-nav{
    position: absolute;
    top: 100%;
    left: 87%;
}

.sticky-nav-fixed{
    position: fixed;
    top: 10%;
    left: 87%;
}


.sticky-nav li{
    font-size: 75%;
    font-weight: 400;
    list-style: none;
    padding: 30px 15px;
    text-align: center;
    background-color: #292929;
}



.sticky-nav li a:link,
.sticky-nav li a:visited{
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.25;
}

.sticky-nav li:hover,
.sticky-nav li:active{
    background-color: rgb(47, 192, 180);
}

.logo{
    height: 80px;
    width: auto;
    float: left;
    margin-top: 20px
}



/* ------------------------------------------- */
/* Perfil */
/* ------------------------------------------- */

.foto-perfil{
    height: auto;
    width: 75%;
    left: 50%;
    border-radius: 80%;
    border: 10px solid rgb(224, 224, 224);
}

.box-perfil{
    text-align: center;
}

.section-about-me ul{
    list-style: none;
}

.h3-sobremim{
    margin-left: 20%;
}

.text-profile-bottom{
    padding-top: 20px;
    text-align: center;
}

.social-media{
    text-align: center;
    list-style: none;
}

.social-media li{
    display: inline-block;
}

.detalhes{
    padding-left: 15px;
}

.detalhes li{
    margin-top: 10px;
}

/* ------------------------------------------- */
/* Habilidades */
/* ------------------------------------------- */

.section-habilidades{
    background-color: #fdf5ff;
    color: #3e67d1;
    font-size: 90%;
    padding-left: 20%;
    padding-right: 20%;
}

.section-habilidades h3{
    color: #192a56;
    font-size: 150%;
    font-weight: 400;
    letter-spacing: 1px;
}



.section-habilidades ul{
    list-style: none;
    margin-bottom: 20px; 
}


.section-habilidades li{
    padding: 8px 0;
    transition: font-size 0.2s;
}

.section-habilidades li:hover{
    background-color: #f6eef8;
    font-size: 110%;
}

.border-habilidades:after{
    display: block;
    height: 1px;
    background-color: #d4d4d4;
    content: " ";
    width: 800px;
    margin: 20px auto;
    
}


.habilidades-nota{
    float: right;
    color: #fdbf21;
}

.habilidades{
    display: inline-block;
    color: #555;
}

/* ------------------------------------------- */
/* Projetos */
/* ------------------------------------------- */

.box-projetos{
    border: 1px solid rgb(197, 197, 197);
    border-radius: 10px;
    transition: background-image 1s;
}


.bg-salao{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/salão-de-beleza.jpg);
    background-size: cover;
}

.bg-pizzaria{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/Pizzaria.jpg);
    background-size: cover;
}

.bg-gamedev{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/GameDev.png);
    background-size: cover;
}

.section-projetos h3,
.section-projetos p{
    z-index: 6;
    padding-left: 5px;
    color: white;
}

.section-projetos h3:after{
    display: block;
    height: 1px;
    background-color: #d4d4d4;
    content: " ";
    width: 90%;
    margin: 20px 0;
}

/* ------------------------------------------- */
/* Experiencia */
/* ------------------------------------------- */

.section-experiencias{
    background-color: #fdf5ff;
}

.section-experiencias .long-copy{
    margin-left: 10%;
}

/* ------------------------------------------- */
/* Footer */
/* ------------------------------------------- */

footer{
    background-color: #0b1327;
    font-size: 80%;
    padding: 20px 180px;
}


footer h2{
    color: #555;
}

footer h2:after{
    background-color: #555;
}

footer li {
    list-style: none;
    padding: 8px 0;
}

footer ion-icon{
        display: inline-block;
        width: 30px;
        text-align: center;
        font-size: 150%;
        margin-right: 10px;
    
        /*Secret for align icon and text */
        line-height: 150%;
        vertical-align: middle;
        margin-top: -4px;
}

footer a:link,
footer a:visited{
    text-decoration: none;
    color: #555;
}

footer a:hover,
footer a:active{
    color: #fff;
}

footer p{
    font-size: 90%;
    text-align: center;
}






/* ------------------------------------------- */
/* Animation */
/* ------------------------------------------- */

.js--about-me{
    opacity: 0;
}

.js--about-me.animated,
.js--name.animated{
    opacity: 1;
}
