

.header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), 
    url(../img/hero.jpg);
    background-size: cover;
    height: 100vh;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    &__text-box{
       margin-top: auto;
       margin-bottom: auto;
    }

    &__header-main{
       font-size: 20rem; 
       font-family: 'Ruthie', cursive;
       font-weight: normal;
       font-family: 'Great Vibes', cursive;
    }

    

    &__menu--box{
        position: absolute;
        top: 2rem;
        left: 2rem;
        background-color: #242424;
        border: 1px solid var(--text-color);
    }

    &__menu--box::after{
        content: "";
        background-color: transparent;
        display: inline-block;
        height: 115%;
        width: 115%;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid var(--text-color);
        transform-origin: bottom right;
        transition: transform .2s ease-out;
    }

    &__menu--icon{
        height: 3rem;
        width: 3rem;
        fill: var(--text-color);
    }

    

    &__btn--box{
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    &__btn:link,
    &__btn:visited{
        text-transform: uppercase;
        text-decoration: none;
        padding: 1rem 2rem;
        transition: .2s;
        position: relative;
        font-size: 1.6rem;
        background-color: var(--text-color);
        color: #242424;
    }

    &__btn::after{
        content: "";
        background-color: transparent;
        display: inline-block;
        height: 110%;
        width: 102%;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid var(--text-color);
        transform-origin: bottom right;
        transition: transform .2s ease-out;
    }

    &__btn:hover::after{
        transform: scale(1.03, 1.1);
    }

    
}



