.footer{
    padding: 8rem 15rem;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    color: #767676;


    &__logo{
        height: 20rem;
        width: 20rem;
    }

    &__nav{
       list-style: none;
       display: flex;
       gap: 2rem;
       font-size: 2rem;
       font-weight: 600;
    }

    &__link:link,
    &__link:visited{
        text-decoration: none;
        color: $--color-primary;
        border-bottom: 1px solid $--color-primary;
        padding-bottom: .4rem;
        transition: all .1s;
    }

    &__link:active,
    &__link:hover{
        color: white;
        border-bottom: 1px solid white;
        padding-bottom: .6rem;
    }

    &__copy{
        font-size: 1.5rem;
        font-weight: 600;
    }


    &__social{
        display: flex;
        gap: 2rem;
        font-size: 3rem;
    }
}