@font-face {
  font-family: "farfetchBasis";
  src: url("../src/fonts/FarfetchBasis-Regular.828f77d1.woff") format("woff");
}

@font-face {
  font-family: "nimbusSanExtD";
  src: url("../src/fonts/NimbusSanExtD-Bol.9bcf356f.woff") format("woff");
  font-weight: bold;
}
