/*

cor primaria #916dd5
cor priamria escura #3e206d
cor primaria clara #d89cf6


cinza claro #f0e3ff
cinza escuro #757575


branco #f0e3ff



*/
:root {
  --color-primary: #916dd5;
  --color-primary-light: #3e206d;
  --color-primary-dark: #d89cf6;
  --text-color: #a27e40;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0,0.06);
  --line:  1px solid var(--color-grey-light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  height: 100vh;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; }
  .header__text-box {
    margin-top: auto;
    margin-bottom: auto; }
  .header__header-main {
    font-size: 20rem;
    font-family: 'Ruthie', cursive;
    font-weight: normal;
    font-family: 'Great Vibes', cursive; }
  .header__menu--box {
    position: absolute;
    top: 2rem;
    left: 2rem;
    background-color: #242424;
    border: 1px solid var(--text-color); }
  .header__menu--box::after {
    content: "";
    background-color: transparent;
    display: inline-block;
    height: 115%;
    width: 115%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid var(--text-color);
    transform-origin: bottom right;
    transition: transform .2s ease-out; }
  .header__menu--icon {
    height: 3rem;
    width: 3rem;
    fill: var(--text-color); }
  .header__btn--box {
    position: absolute;
    top: 2rem;
    right: 2rem; }
  .header__btn:link, .header__btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 2rem;
    transition: .2s;
    position: relative;
    font-size: 1.6rem;
    background-color: var(--text-color);
    color: #242424; }
  .header__btn::after {
    content: "";
    background-color: transparent;
    display: inline-block;
    height: 110%;
    width: 102%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid var(--text-color);
    transform-origin: bottom right;
    transition: transform .2s ease-out; }
  .header__btn:hover::after {
    transform: scale(1.03, 1.1); }
