// COLOR VARIABLES

$color-primary: #a685e2;
$color-primary-dark: #6155a6;
$color-primary-darker: #3e3472;
$color-primary-light: #ffabe1;

$bg-color-light: #faedf6;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #3b384b;
$color-grey-dark-2: #5f5a7a;

// FONT VARIABLES

$font-primary: "Lato", sans-serif;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $font-primary;
  color: $color-grey-light-1;
  font-weight: 300;
  line-height: 1.6;
}

section {
  padding-top: 5rem;
  padding-bottom: 8rem;
}

.container {
  display: grid;
  grid-template-rows: 100vh repeat(4, min-content) 30vh;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];
}

.--mg-bt-small {
  margin-bottom: 2rem;
}
