.skills {
  display: grid;
  background-color: $color-primary-darker;
  grid-column: full-start / full-end;

  &__big-card {
    background-color: #fff;
    width: 60%;
    justify-self: center;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    transform: translateY(-10rem);
    border: 2px solid #000;
  }

  &__small-card {
    padding: 2rem 3rem;
    color: $color-grey-dark-2;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;

    &:not(:last-child) {
      border-right: 2px solid #000;
    }

    ul {
      list-style: none;
      font-size: 1.5rem;
    }
  }

  &__icon {
    height: 8rem;
    fill: $color-primary-dark;
    justify-self: center;
  }

  &__text {
    font-size: 1.8rem;
  }

  &__list-lan {
    display: block;
  }
}
